.App {
  text-align: center;
  font-size: 1rem;
  height: 100vh;
}

.dark-mode {
  background-color: black;
  color: white;
}

.fullWidth {
  width: 1000px;
}

button {
  margin: 0px;
  font-size: 1rem;
  background-color: lightblue;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

button.mainLoginButton {
  font-size: 1.2rem;
  background-color: aqua;
  margin: 20px;
}

button.mainLoginButton:hover {
  background-color: white;
}

.enabled {
  background-color: lightblue;
  pointer-events: all;
}

.disabled {
  pointer-events: none;
  background-color: gray;
}

.loginButton {
  width: 70px;
}

.bottomLoginButtons {
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  min-height: 70vh;
  display:inline-flex;
  align-items: center;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.NavigationBar {
  display: flex;
  background-color: royalblue;
  color: white;
  margin: 0;
  padding: 0;
}

.NavigationBar .left {
  margin: 0px;
  width: 100%;
  text-align: left;
  /* border: 1px solid black; */
  line-height: 1rem;
}

.NavigationBar .right {
  align-content: flex-end;
  margin: 0px;
  text-align: right;
  /* border: 1px solid black; */
}

.NavigationBar .center {
  margin: 0px;
  text-align: center;
  /* border: 1px solid black; */
}

.Login {
  /* background-color: rgb(42, 42, 224); */
  min-height: 70vh;
  width: 360px;
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: left;


  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 350px; */
}

.LoginInputs {
  /* background-color: blue; */
  width: 308px;
}

.Login input {
  width: 300px;
  font-size: 1rem;
  margin: 5px 0px 0px;
}

.Hidden {
  display:none;
  visibility:hidden;
}

.Show-block {
  display:inline-block;
  visibility:visible;
}

label {
  display:inline-block;
  text-align: left;
  margin: 20px 0px 0px;
}

.labelNote {
  margin: 0px;
  font-size: 0.8rem;
}

select {
  font-size: 1rem;
  margin: 5px;
}

input {
  font-size: 1rem;
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Entry {
  /* background-color: rgb(42, 42, 224); */
  min-height: 70vh;
  /* display:inline-flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.width_100 {
  width: 100px;
  padding: 0;
  border: 0;
}

.width_200 {
  width: 200px;
  padding: 0px;
  border: 0px;
}

.right {
  text-align: right;
}

input[type=radio] {
  position: relative;
  top: 2px;
  left: 0;
  width: 1.15rem;
  height: 1.15rem;
}
  
input[type=checkbox] {
  width: 1.15rem;
  height: 1.15rem;
}

table.expenses {
  table-layout: auto;
  width: 100%;  
}

income {
  display: block;
  width: 90%;
}

td, th {
  border: 1px solid black;
}

textarea {
  resize: none;
}

.green {
 color: lightgreen; 
}

.red {
  color: red;
}

#SettingsArea {
  width: fit-content;
  text-align: left;
  padding: 5px;
}

#SettingsArea #Part {
  margin: 20px 0px;
}

#SettingsArea table, tr, td, th {
  border-collapse: collapse;
  border: none;
  border-bottom: 1px solid white;
}

#SettingsArea label {
  margin: 5px 0px;
}

#SettingsArea .labelNote {
  margin: 0px 5px;
  font-size: 0.8rem;
}

#SettingsArea input {
  margin: 5px 5px;
}

#SettingsArea h2 {
  text-align: center;
}

#SettingsArea h3 {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px;
}

#SettingsArea button {
  font-size: 1rem;
}

#ShowArea {
  width: fit-content;
  text-align: left;
  padding: 5px;
}

#ShowArea label {
  margin: 5px 0px;
}
