body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Verdana, sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: royalblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
